#game-window {
	background-color: lightgrey;
	height: 500px;
	width: 500px;
}

#catpic {
	height: 50px;
	width: 70px;
	margin-right: auto;
	margin-left: auto;
}

#counter{
	clear: right;
	margin-right: auto;
	margin-left: auto;
	color: #00ff00;
	text-transform: uppercase;

}