.cat-list {
	color: #ffffff;
	background-color: #5d4037;

}

.game-window {
	background-color: #5d4037;
	margin: 10px;
	padding: 5px;
}

body {
	background-color: #795548;
}

#title {
	color: #212121;
}