.cat-list {
	color: #ffffff;

}

.table {
	border: 2px #212121 solid;
	height: 28px;
}

body {
	background-color: #5d4037;

}

.title {
	color: #212121;
	margin: 0;
	padding: 20px 0px 20px 20px;
}

.container {
	padding: 10px;

}

.name_score {
	float: right;
}

.btn {
	margin-top: 20px;
}

.jumbotron {
	background-color: #795548;
	height: 200px;
	width: 600px;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin: 0;
	margin-top: 20px;
	margin-right: 0px;
}

.catJumbo {
	border: 2px #fff solid;
	height: 200px;
	width: 300px;
	float: left;
	padding: 0;
}